{% extends "base.html" %}



{% block title %}
    <title>Crear Nuevo Espacio</title>
{% endblock title %}



{% block content %}
    <div class="container">
        <div class="text-center p-4 p-lg-5">
            <h1 class="fw-bold mb-4">Crear nuevo espacio<br></h1>
        </div>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br>
        <label for="horario">Horario:</label>
        <input type="text" id="horario" name="horario" required><br>
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion" required></textarea><br>
        <label for="telefono">Teléfono:</label>
        <input type="text" id="telefono" name="telefono" required><br>
        <label for="estado">Estado:</label>
        <select id="estado" name="estado" required>
            {% for key, value in estado_choices %}
            <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
        </select><br>
        <label for="fotos">Fotos:</label>
        <input type="file" id="fotos" name="fotos" multiple><br>
        <button type="submit">Guardar</button>
    </form>
{% endblock content %}