{% extends "base.html" %}

{% block title %}
    <title>Editar Espacio</title>
{% endblock title %}

{% block content %}
<div class="container">
    <div class="text-center p-4 p-lg-5">
        <h1 class="fw-bold mb-4">Editar Espacio</h1>
    </div>
    <form method="post" enctype="multipart/form-data" class="d-flex flex-column align-items-center">
        {% csrf_token %}
        <div class="mb-3 w-75">
            <label for="nombre" class="form-label">Nombre:</label>
            {{ form.nombre }}
        </div>
        <div class="mb-3 w-75">
            <label for="horario" class="form-label">Horario:</label>
            {{ form.horario }}
        </div>
        <div class="mb-3 w-75">
            <label for="descripcion" class="form-label">Descripción:</label>
            {{ form.descripcion }}
        </div>
        <div class="mb-3 w-75">
            <label for="telefono" class="form-label">Teléfono:</label>
            {{ form.telefono }}
        </div>
        <div class="mb-3 w-75">
            <label for="estado" class="form-label">Estado:</label>
            {{ form.estado }}
        </div>
        <small class="text-muted">¡Atención! Este espacio contiene subespacios, los cuales no se pueden editar.
        </small>
        <div class="mb-3 w-75">
            <label for="fotos" class="form-label">Fotos:</label>
            {{ form.fotos }}
            {% if espacio.fotos %}
            <img src="{{ espacio.fotos.url }}" alt="Foto de {{ espacio.nombre }}" style="max-width: 200px; max-height: 200px; margin-top: 10px;">
            {% endif %}
        </div>
        <div class="mb-3 w-75 form-check form-switch">
            {{ form.espacio_especial }}
            <label for="espacio_especial" class="form-check-label">Espacio Especial</label>
        </div>
        <div class="mb-3 w-75 form-check form-switch">
            {{ form.limpieza }}
            <label for="limpieza" class="form-check-label">Requiere Limpieza</label>
        </div>
        <div class="d-flex justify-content-between w-50 mt-4">
            <button type="submit" class="btn btn-success">Guardar</button>
            <a href="{% url 'list' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
    <br>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const espacioEspecialCheckbox = document.getElementById('id_espacio_especial');
        const limpiezaCheckbox = document.getElementById('id_limpieza');

        function toggleLimpiezaCheckbox() {
            if (espacioEspecialCheckbox.checked) {
                limpiezaCheckbox.disabled = false;
            } else {
                limpiezaCheckbox.checked = false;
                limpiezaCheckbox.disabled = true;
            }
        }

        // Initialize state on page load
        toggleLimpiezaCheckbox();

        // Add event listener to toggle on change
        espacioEspecialCheckbox.addEventListener('change', toggleLimpiezaCheckbox);
    });
</script>
{% endblock content %}
