{% extends "base.html" %}

{% block title %}
    <title>Lista de Espacios</title>
{% endblock title %}


{% block content %}
    <div class="container">
        <div class="text-center p-4 p-lg-5">
            <br>
            <h1 class="fw-bold mb-4">Lista de Espacios<br></h1>
            <a href="{% url 'create' %}" class="btn btn-primary" style="margin-left: 10px;">Crear Nuevo Espacio</a>
        </div>
    </div>

    {% if spaces.count == 0 %}
        <div class="text-center p-4 p-lg-5">
            <p>No hay espacios registrados.</p>
        </div>
    {% endif %}
    <ul>
        {% for space in spaces %}
        <li>
            <h2>{{ space.nombre }}</h2>
            <p><strong>Horario:</strong> {{ space.horario }}</p>
            <p><strong>Descripción:</strong> {{ space.descripcion }}</p>
            {% if space.fotos %}
            <img src="{{ space.fotos.url }}" alt="Foto de {{ space.nombre }}" style="width: 300px; height: auto;">
            {% endif %}
            <p><strong>Teléfono:</strong> {{ space.telefono }}</p>
            <p><strong>Estado:</strong> {{ space.estado }}</p>
            {% if user.is_superuser or user.is_staff %}
            <a href="{% url 'edit' space.id %}">Editar</a>
            <form action="{% url 'delete' space.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Eliminar</button>
            </form>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endblock content %}
